<div class="container marketing main">
    <div *ngFor="let member of members; let i = index"
         [attr.data-index]="i"
         class="row featurette">
        <div class="col-md-7"
             [class.after]="i % 2 != 0">
            <h2>{{member.name}}</h2>
            <nav>
                <ul class="text">
                    <li *ngFor="let desc of member.descriptions">{{desc}}</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-5 fixed">
            <picture>
                <source src="assets/img/{{member.img}}.avif'}}"
                        type="image/avif">
                <source src="assets/img/{{member.img}}.webp"
                        type="image/webp">
                <img class="featurette-image img-responsive"
                     src="assets/img/{{member.img}}.jpg"
                     alt="{{member.name}}">
            </picture>
        </div>
        <mat-divider class="last"></mat-divider>
    </div>
</div>