<div id="myCarousel"
     class="carousel slide"
     data-ride="carousel">
    <div fxLayout="row wrap"
         fxLayoutAlign="center center">
        <img class="headband-image"
             src="assets/img/accueil.jpg"
             alt="dentiste auterive cabinet 31190">
        <div class="container">
            <div class="carousel-caption">
                <h1 class="carousel-text">Dentiste Auterive<br>Docteurs DELIA, MERIEUX et ARAGON</h1>
                <h2 class="carousel-text2">Cabinet dentaire Michelet</h2>
            </div>
        </div>
    </div>
</div>