<div class="container marketing">
    <!-- DÉBUT DES SECTIONS -->

    <!-- Christophe Delia -->

    <div id="dentistes"
         class="row featurette">
        <div class="col-md-7">
            <h2>Christophe Delia</h2>
            <nav>
                <ul class="text">
                    <li>Docteur en chirurgie dentaire</li>
                    <li>Diplomé de la faculté de Toulouse</li>
                    <li>Diplôme d'État de manipulateur d'électroradiologie médicale</li>
                    <li>Diplôme universitaire d'odontologie légale et expertise</li>
                    <li>Pratique l'implantologie depuis 2004</li>
                    <li>Certificat de formation à l'orthodontie invisible par gouttières transparentes SMILERS® -
                        Toulouse 2018</li>
                    <li>Certificat de formation à l'utilisation et à l'optimisation du ConeBeam en imagerie médicale -
                        Toulouse 2018</li>
                    <li>Certificat de prothèses sur implant Dentsply - Toulouse 2008</li>
                    <li>Certificat anesthésie sans douleur Quicksleeper - Toulouse 2006</li>
                    <li>Certificat de suivi de l'enseignement magistral et pratique en biomatériaux et implantologie -
                        Angers 2006</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive"
                 src="assets/img/delia.jpg"
                 alt="Christophe Delia">
        </div>
    </div>

    <mat-divider></mat-divider>

    <!-- Marion Sperte -->

    <div id="dentistes"
         class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive"
                 src="assets/img/sperte.jpg"
                 alt="Marion Sperte">
        </div>
        <div class="col-md-7">
            <h2>Marion Sperte</h2>
            <nav>
                <ul class="text">
                    <li>Docteur en chirurgie dentaire</li>
                    <li>Diplomée de la faculté de Toulouse</li>
                    <li>Certificat de formation à l'orthodontie invisible par gouttières transparentes SMILERS® -
                        Toulouse 2017</li>
                </ul>
            </nav>
        </div>
    </div>

    <mat-divider></mat-divider>

    <!-- Paul Aragon -->

    <div id="dentistes"
         class="row featurette">
        <div class="col-md-7">
            <h2>Paul Aragon</h2>
            <nav>
                <ul class="text">
                    <li>Docteur en chirurgie dentaire</li>
                    <li>Diplomé de la faculté de Toulouse</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive"
                 src="assets/img/aragon.jpg"
                 alt="Paul Aragon">
        </div>
    </div>

    <mat-divider></mat-divider>

    <!-- Anne Escautier -->

    <!-- <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="assets/img/escautier.jpg" alt="Anne Escautier">
      </div>
      <div class="col-md-7">
        <h2>Anne Escautier</h2>
        <nav>
          <ul class="text">
            <li>Docteur en chirurgie dentaire</li>
            <li>Diplomée de la faculté de Toulouse</li>
            <li>Master d'anthropologie à l'Université de Toulouse</li>
            <li>Pour raisons familiales, poursuit son activité dans la région d'Albi</li>
          </ul>
        </nav>
      </div>
    </div>

    <mat-divider></mat-divider> -->

    <!-- Joëlle -->

    <!-- <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive" src="assets/img/joelle.jpg" alt="Joëlle">
      </div>
      <div class="col-md-7">
        <h2>Joëlle</h2>
        <nav>
          <ul class="text">
            <li>Assistante dentaire qualifiée depuis 2004</li>
            <li>Responsable stocks et logistique matériel</li>
            <li>Responsable hygiène et asepsie</li>
            <li>Aide opératoire pendant les actes de chirurgies</li>
          </ul>
        </nav>
      </div>
    </div>

    <mat-divider></mat-divider> -->

    <!-- Mégane -->

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive"
                 src="assets/img/megane.jpg"
                 alt="Mégane">
        </div>
        <div class="col-md-7">
            <h2>Mégane</h2>
            <nav>
                <ul class="text">
                    <li>Assistante dentaire qualifiée depuis 2018</li>
                    <li>Diplomée de l'école AGORA Toulouse</li>
                    <li>Responsable accueil, suivi des patients et comptabilité</li>
                </ul>
            </nav>
        </div>
    </div>

    <mat-divider></mat-divider>

    <!-- Laura -->

    <div class="row featurette">
        <div class="col-md-7">
            <h2>Laura</h2>
            <nav>
                <ul class="text">
                    <li>Assistante dentaire qualifiée depuis 2016</li>
                    <li>Diplomée de l'ESAD Toulouse</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive"
                 src="assets/img/laura.jpg"
                 alt="Laura">
        </div>
    </div>

    <mat-divider></mat-divider>

    <!-- Élodie -->

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive"
                 src="assets/img/elodie.jpg"
                 alt="Élodie">
        </div>
        <div class="col-md-7">
            <h2>Élodie</h2>
            <nav>
                <ul class="text">
                    <li>Assistante dentaire en formation</li>
                </ul>
            </nav>
        </div>
    </div>
</div>