<div fxLayout="row nowrap"
     fxLayoutAlign="center center">
    <div>
        <h3>Questionnaire médical</h3>
        <p>Cher patient,
            <br />Afin d'écourter votre temps d'attente au cabinet, nous vous proposons de <strong>télécharger,
                imprimer
                puis de remplir le questionnaire médical</strong> à remettre à votre praticien lors de votre
            rendez-vous.
            <br />Vous pouvez <a onclick="ga('send', 'event', 'link', 'click', 'questionnaire', 0);"
               href="assets/files/Questionnaire%20dentaire.pdf"
               rel="noopener noreferrer"
               target="_blank">télécharger le questionnaire en cliquant ici</a> ou sur l'image ci-contre.
        </p>
    </div>
    <div>
        <a onclick="ga('send', 'event', 'link', 'click', 'questionnaire', 1);"
           href="assets/files/Questionnaire%20dentaire.pdf"
           rel="noopener noreferrer"
           target="_blank">
            <picture>
                <source srcSet="assets/img/formulaire.avif"
                        type="image/avif">
                <source srcSet="assets/img/formulaire.webp"
                        type="image/webp">
                <img id="formImage"
                     class="img-responsive"
                     src="assets/img/formulaire.png"
                     alt="Questionnaire médical">
            </picture>
        </a>
    </div>
</div>

<mat-divider></mat-divider>

<div fxLayout="row wrap"
     fxLayoutAlign="space-evenly center">
    <div fxLayout="column wrap"
         fxLayoutAlign="center center">
        <a routerLink="about">
            <picture>
                <source srcSet="assets/img/dent.avif"
                        type="image/avif">
                <source srcSet="assets/img/dent.webp"
                        type="image/webp">
                <img class="img-circle"
                     src="assets/img/dent.png"
                     alt="dent"
                     style="width: 140px; height: 140px;">
            </picture>
        </a>
        <h2>Soins</h2>
        <p class="otherText">Les soins proposés par le cabinet des docteurs DELIA, MERIEUX et ARAGON</p>
        <button mat-button
                aria-label="Soins"
                color="primary"
                routerLink="about">Soins &raquo;</button>
    </div>
    <div fxLayout="column wrap"
         fxLayoutAlign="center center">
        <a routerLink="equipe">
            <picture>
                <source srcSet="assets/img/dentiste.avif"
                        type="image/avif">
                <source srcSet="assets/img/dentiste.webp"
                        type="image/webp">
                <img class="img-circle"
                     src="assets/img/dentiste.png"
                     alt="dentiste"
                     style="width: 140px; height: 140px;">
            </picture>
        </a>
        <h2>Dentistes</h2>
        <p class="otherText">Les dentistes du cabinet d'Auterive.</p>
        <button mat-button
                aria-label="Dentistes"
                color="primary"
                routerLink="equipe">Dentistes &raquo;</button>
    </div>
    <div fxLayout="column wrap"
         fxLayoutAlign="center center">
        <a routerLink="plan">
            <picture>
                <source srcSet="assets/img/maps.avif"
                        type="image/avif">
                <source srcSet="assets/img/maps.webp"
                        type="image/webp">
                <img class="img-circle"
                     src="assets/img/maps.png"
                     alt="location"
                     style="width: 140px; height: 140px;">
            </picture>
        </a>
        <h2>Accès et Horaires</h2>
        <p class="otherText">L'accès au cabinet dentaire d'Auterive<br /> ainsi que les horaires se trouvent ici.</p>
        <button mat-button
                aria-label="Accès et Horaires"
                color="primary"
                routerLink="plan">Accès et Horaires &raquo;</button>
    </div>
</div>

<mat-divider></mat-divider>

<div class="mainRow"
     fxLayout="row"
     fxLayoutAlign="space-evenly center">
    <div class="mainRowChild">
        <h3>Histoire du cabinet</h3>
        <p>Anciennement centre médical regroupant des médecins généralistes, le cabinet dentaire d'Auterive
            a vu le jour en Septembre 2000 après quelques mois de travaux de réaménagement.
            <br>Il est passé progressivement d'un chirurgien dentiste et d'une salle de soins, à <strong>trois
                chirurgiens dentistes</strong> pour deux salles de soins et <strong>trois assistantes
                dentaires</strong>.
            <br>Actuellement, après 6 mois de travaux qui ont quelque peu perturbé le bon fonctionnement des soins, nous bénéficions de <strong>2 salles de soins supplémentaires</strong>, d'un <strong>bloc de chirurgie</strong>, et de <strong>locaux mieux adaptés et modernisés</strong> avec un matériel toujours à la pointe des dernières technologies.
        </p>
    </div>
    <div class="mainRowChild">
        <picture>
            <source srcSet="assets/img/plaque.avif"
                    type="image/avif">
            <source srcSet="assets/img/plaque.webp"
                    type="image/webp">
            <img class="img-responsive"
                 src="assets/img/plaque.jpg"
                 alt="Le cabinet dentaire">
        </picture>
    </div>
</div>

<mat-divider></mat-divider>

<div class="mainRow"
     fxLayout="row"
     fxLayoutAlign="space-evenly center">
    <div class="mainRowChild">
        <picture>
            <source srcSet="assets/img/salle_attente.avif"
                    type="image/avif">
            <source srcSet="assets/img/salle_attente.webp"
                    type="image/webp">
            <img class="img-responsive"
                 src="assets/img/salle_attente.jpg"
                 alt="Salle d'attente">
        </picture>
    </div>
    <div class="mainRowChild">
        <h3>Salle d'attente</h3>
        <p>Le cabinet dispose d'une salle d'attente agréable, et l'équipe fera le maximum pour respecter
            vos horaires de rendez-vous afin d'éviter une attente trop longue.</p>
    </div>
</div>

<mat-divider></mat-divider>

<div class="mainRow"
     fxLayout="row"
     fxLayoutAlign="space-evenly center">
    <div class="mainRowChild">
        <h3>Parking</h3>
        <p>Un parking goudronné vous permettra de vous garer facilement. L'absence de marche permet un
            accès facilité aux brancards et personnes handicapés.</p>
    </div>
    <div class="mainRowChild">
        <picture>
            <source srcSet="assets/img/parking.avif"
                    type="image/avif">
            <source srcSet="assets/img/parking.webp"
                    type="image/webp">
            <img class="featurette-image img-responsive"
                 src="assets/img/parking.jpg"
                 alt="Parking">
        </picture>
    </div>
</div>