.otherText {
    inline-size: 300px;
    font-size: 18px;
    overflow: visible;
    text-align: center;
}

@media (max-width: 800px) {
    .mainRow {
        flex-wrap: wrap;
    }
}

.mainRowChild {
    margin: 10px;
}

.img-circle {
    border-radius: 50%;
    margin: 10px;
}

@media (max-width: 553px) {
    #formImage {
        display: none;
    }
}

@media (min-width: 800px) {
    ::ng-deep .custom-toast-width {
        width: 40vw !important;
    }
}