<div class="container marketing">
    <div class="row featurette">
        <div class="col-md">
            <h2 class="featurette-heading">Implants</h2>
            <p class="text">
                Qu'il s'agisse des suites d'un accident, d'une maladie parodontale ou encore de caries, la perte d'une
                ou de plusieurs dents constitue un vrai problème en termes de confort (mastication, élocution) mais
                également d'estime de soi.
                <br>Les implants dentaires sont la solution la plus proche du naturel pour le remplacement d'une ou
                plusieurs dents manquantes, tant d'un point de vue fonctionnel qu'esthétique.
            </p>
            <h3><strong>Qu'est-ce qu'un implant dentaire</strong></h3>
            <p class="text">
                Les implants dentaires sont aujourd'hui les traitements de l'édentement les plus fiables.
            </p>
            <h4><strong>Le phénomène d'ostéointégration</strong></h4>
            <nav>
                <ul class="text">
                    <li>Ce phénomène a été découvert par un Suédois dans les années 1960 : le Professeur Bränemark.</li>
                    <li>Les implants dentaires sont des racines artificielles en titane qui sont enfouies dans l'os.
                    </li>
                    <li>Il n'existe aucune allergie au titane déclarée à l'heure actuelle dans le monde car le titane
                        est un matériau biocompatible.</li>
                    <li>Au contact du titane, l'os va cicatriser et se souder : c'est le phénomène d'ostéointégration
                        qui prend 2 à 6 mois en fonction des cas cliniques.</li>
                    <li>L'implant dentaire devient fonctionnel. Il est utilisé soit comme support d'une prothèse fixe
                        (bridge ou couronne) soit pour stabiliser une prothèse amovible.</li>
                </ul>
            </nav>
            <h4><strong>Le traitement</strong></h4>
            <nav>
                <ul class="text">
                    <li>La mise en place des implants nécessite la réalisation préalable d'un scanner pour connaître de
                        manière très précise le volume exact et la qualité du site receveur osseux.</li>
                    <li>Une fois l'indication de ce traitement posée, la mise en place des implants est réalisée sous
                        anesthésie locale, dans des conditions d'asepsie chirurgicale.</li>
                    <li>Deux à trois mois après, les implants sont intégrés à l'os. Un faux moignon est vissé sur
                        l'implant et une couronne en céramique ou un bridge sont scellés définitivement.</li>
                </ul>
            </nav>
            <h4><strong>Nos conseils</strong></h4>
            <nav>
                <ul class="text">
                    <li>Les implants dentaires assurent une stimulation osseuse du site d'extraction ce qui empêche la
                        résorption de l'os.</li>
                    <li>Les couronnes sont fixées aux racines artificielles et ne sont plus retirées.</li>
                    <li>Les dents adjacentes saines ne sont pas abîmées.</li>
                    <li>Ce traitement est à la fois esthétique, fonctionnel et durable dans le temps.</li>
                </ul>
            </nav>

            <mat-divider></mat-divider>

            <h3><strong>Les implants dentaires : un traitement fiable et durable</strong></h3>
            <p class="text">
                Comme pour une dent naturelle, il est difficile d'envisager une durée de vie pour les implants dentaires
                car elle dépend de plusieurs facteurs.
                Selon les nombreuses études scientifiques , les implants semblent plus fiables qu'un bridge ou qu'une
                prothèse amovible sur le long terme.
            </p>
            <h4><strong>Les différents facteurs intervenant dans la réussite du traitement implantaire sont les suivants
                    :</strong></h4>
            <nav>
                <ul class="text">
                    <li>la qualité de l'os</li>
                    <li>l'équilibre de la prothèse posée sur l'implant</li>
                    <li>la santé et l'hygiène buccodentaire du patient</li>
                    <li>la répartition des forces sur l'implant</li>
                    <li>la fréquence des visites de contrôle</li>
                </ul>
            </nav>
            <h4><strong>L'étude de Lekholm et de ses collaborateurs faite sur 20 ans , parue en 2006, démontre que :</strong>
            </h4>
            <nav>
                <ul class="text">
                    <li>Le taux de survie implantaire est de 91 % à 20 ans.</li>
                    <li>Le traitement implantaire est le traitement prothétique le plus fiable dans beaucoup de
                        situations.</li>
                </ul>
            </nav>
            <p class="text">
                Autrement dit, un patient à qui l'on pose des implants a plus de 9 chances sur 10 d'avoir toujours ses
                implants et sa prothèse implantaire dans 20 ans.
            </p>
            <h4><strong>Risques et complications :</strong></h4>
            <p class="text">La majorité des complications interviennent durant les premiers mois de la cicatrisation et
                l'obtention de l'ostéointégration. Il s'agit souvent d'une absence d'ostéointégration par interposition
                d'un tissu fibreux. L'implant dentaire est mobile et douloureux et doit être déposé sous anesthésie
                locale.
                <br>Un nouvel implant peut normalement être reposé quelques semaines ou quelques mois après
                cicatrisation.
            </p>
            <h4><strong>Nos conseils :</strong></h4>
            <nav>
                <ul class="text">
                    <li>Les implants dentaires constituent une technique éprouvée et fiable.</li>
                    <li>Il existe très peu de contre-indications à cette chirurgie.</li>
                </ul>
            </nav>

            <mat-divider></mat-divider>

            <h3><strong>Les avantages des implants dentaires</strong></h3>
            <p class="text-justify">
                Lorsqu'un patient a une ou plusieurs dents manquantes, les implants dentaires présentent de multiples
                avantages par rapport aux autres traitements impliquant des prothèses amovibles.
                <br>Les implants permettent la mise en place de prothèses fixes (que le patient ne peut enlever) ou
                amovibles (que le patient peut enlever).
                <br>Ils sont plus <strong>confortables et discrets</strong>, car ils ne causent pas de frottement désagréable ou
                de mouvement sur la gencive comme dans le cas des prothèses amovibles non fixées par des implants.
                Certaines prothèses fixées sur des implants peuvent même ne pas recouvrir le palais du tout.
                <br>Aucun adhésif (colle) désagréable n'est requis pour tenir des prothèses sur implants en place.
                <br>Les implants offrent une <strong>meilleure stabilité</strong> des dents artificielles, ce qui facilite la
                mastication et la digestion, améliore le confort et facilite l'élocution du patient.
                <br>Le patient n'est pas contraint d'adapter sa diète.
                <br>Les implants permettent de <strong>répartir les forces masticatoires</strong> également entre les implants
                et les structures adjacentes (gencive, os et dents restantes) de la bouche, ce qui aide à diminuer le
                stress sur ces structures. Dans le cas où des dents saines sont encore en bouche, le patient peut
                espérer pouvoir garder ces dents restantes plus longtemps que si aucun implant n'était installé et que
                l'espace créé par les dents manquantes restait vacant.
                <br>Les implants contribuent au <strong>maintien du volume de l'os alvéolaire</strong> (l'os autour des dents)
                en prévenant sa résorption là où les dents sont manquantes. Effectivement, lorsqu'une dent n'est plus en
                bouche, la partie de l'os alvéolaire qui la retenait n'est plus stimulée lorsque le patient mange et
                elle se détériore peu à peu.
                <br>Les implants ne nécessitent <strong>pas de modification</strong> à la forme des <strong>dents adjacentes</strong> ni
                de perte d'une partie de l'émail de ces mêmes dents pour les supporter comme dans le cas d'un pont
                traditionnel.
                <br>Les implants donnent l'impression d'avoir des dents naturelles, tant au niveau esthétique que
                fonctionnel, de par leur rôle de racine artificielle ancrée dans l'os de la mâchoire, comme une racine
                dentaire naturelle. Le patient peut donc retrouver les traits naturels de son visage qui avaient été
                affectés par la perte de plusieurs dents.
                <br>Les deux composantes principales d'un implant, soit la couronne artificielle et l'implant lui-même,
                ne pourront pas être affectées par la carie dentaire.
                <br>Une fois l'ostéointégration terminée, les implants doivent rarement être remplacés et offrent donc
                une solution fiable à long terme. Malgré son coût initial élevé, l'implant dentaire constitue un bon
                investissement étant donné sa durée de vie.
            </p>
            <div class="video">
                <iframe width="560"
                        height="315"
                        src="https://www.youtube.com/embed/jpQH4HLm6Ko?rel=0"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>