<div class="container marketing">
    <div class="row featurette">
        <div class="col-md">
            <h2 class="featurette-heading">Charte qualité</h2>
            <p class="text">
                Notre démarche qualité nous impose :
            </p>
            <ul class="text">
                <li>
                    de sélectionner les meilleurs produits présents sur le marché, qui auront le recul clinique
                    nécessaire. C'est pourquoi nos partenaires sont choisis uniquement sur des critères qualitatifs et
                    non sur une démarche commerciale.
                </li>
                <br>
                <li>
                    de travailler avec deux laboratoires de prothèse, l'un situé à Miremont, l'autre sur la région
                    toulousaine. Ces laboratoires garantissent un travail de grande qualité, une traçabilité sans
                    faille, et une production 100% française.
                </li>
                <br>
                <li>
                    de vous délivrer une information complète et précise afin que vous puissiez vous faire votre propre
                    opinion. C'est ce qu'on appelle le consentement éclairé. Il doit être un préalable à chacun de nos
                    actes et s'accompagne d'un devis systématique.
                </li>
                <br>
                <li>
                    de vous proposer un panel de thérapeute avec qui nous travaillons régulièrement pour satisfaire à
                    toutes les orientations thérapeutiques possibles, que ce soit en orthodontie, ORL, pédodontie ou
                    stomatologie. La médecine se doit d'être pluridisciplinaire où le partage des connaissances permet
                    de solutionner les cas les plus complexes.
                </li>
                <br>
                <li>
                    de ne plus utiliser de matériaux contenant du mercure et de remplacer la pose d'amalgames par des
                    verres ionomères ou des résines composites alliant esthétique et meilleurs résultats biologiques.
                </li>
            </ul>
        </div>
    </div>

    <hr class="featurette-divider">
</div>