<div class="row featurette">
    <h2 class="featurette-heading">Mentions légales</h2>
    <div>
        <h2>Titulaire et directeur de publication du site</h2>
        <p class="contact">
            Cabinet du docteur Christophe Delia, Chirurgien dentiste.<br>
            1, rue Michelet<br>
            31190 Auterive<br>
            Tél: 05 61 50 89 12<br>
            Numéro d'inscription au tableau de l'ordre : 31 4 022294
        </p>
        <br>
        <hr class="featurette-divider">
        <br>
        <h2>Objet du site</h2>
        <p class="contact">
            Ce site a été réalisé dans le respect de la charte ordinale de qualité relative aux sites internet qui a été
            ratifiée par le Chirugien Dentiste titulaire de ce site. Il a pour mission de présenter le cabinet dentaire
            et d'informer le public sur les soins réalisés par le Chirugien Dentiste, les moyens de prévention et les
            conseils en cas d'urgence dentaire. Il est purement informatif et est destiné à tout type de public.<br>
            <a href="http://www.annuaire.chirurgiens-dentistes.fr"
               target="_blank">www.annuaire.chirurgiens-dentistes.fr</a>

        </p>
        <br>
        <hr class="featurette-divider">
        <br>
        <h2>Éditeur et hébergeur du site</h2>
        <p class="contact">
            Antoine Delia<br>
        </p>
        <br>
        <hr class="featurette-divider">
        <br>
        <h2>Propriété intellectuelle</h2>
        <p class="contact">
            Le contenu de ce site (textes et médias) est propriété exclusive du Chirurgien Dentiste titulaire de ce
            site. Toute reproduction, distribution, modification, retransmission ou publication de ces différents
            éléments est strictement interdite.
        </p>
        <br>
        <hr class="featurette-divider">
        <br>
        <h2>Confidentialité</h2>
        <p class="contact">
            Les informations personnelles concernant les visiteurs de ce site ne sont pas conservées.
        </p>
    </div>
</div>