<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="head-title">Le cabinet</h2>
            <p class="text">
                Les docteurs Delia Christophe, Sperte Marion et Aragon Paul sont heureux de vous accueillir sur le site
                de leur cabinet dentaire.
                <br>Vous trouverez le <strong>numéro de téléphone</strong> du cabinet, sa <strong>géo-localisation</strong>, ses
                <strong>horaires</strong> ainsi que quelques informations concernant les techniques de dentisterie moderne
                utilisées au sein du cabinet.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive"
                 src="assets/img/presentation_dentistes.jpg"
                 alt="cabinet dentaire">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive"
                 src="assets/img/cabinet2.jpeg"
                 alt="equipements">
        </div>
        <!-- <div class="col-md-3">
        <img class="featurette-image img-responsive" src="assets/img/cabinet3.jpg" alt="equipements">
      </div> -->
        <div class="col-md-7">
            <h2 class="head-title">Équipements</h2>
            <nav>
                <ul class="text">
                    <li><strong>Radiopanoramique 2D :</strong> Réalisation plus efficace d'un plan de traitement adapté et d'un
                        diagnostic plus précis.</li>
                    <li><strong>Scanner 3D cone beam</strong></li>
                    <li><strong>Scanner intra-orale :</strong> Solution CFAO. C'est une empreinte optique permettant une prise
                        d'empreintes plus rapide et plus précise sans les contraintes de l'utilisation d'une pâte
                        entraînant nausées et étouffements ; gain de temps et transfert direct vers le laboratoire de
                        prothèse.</li>
                    <li><strong>Caméra endobuccale :</strong> Visualisation plus précise d'un problème, garde en mémoire une
                        situation avant/après.</li>
                    <li><strong>Système d'anesthésie QuickSleeper 4&trade; :</strong> Anesthésie électronique plus efficace.
                    </li>
                    <li><strong>Système d'anesthésie QuickSleeper 5&trade; :</strong> Anesthésie électronique dernière
                        génération.</li>
                    <li><strong>L'Aéropolisseur :</strong> Élimine complètement les colorations de café et de nicotine.</li>
                    <li><strong>Lampe de blanchiment Zoom&trade; :</strong> Le meilleur système sur le marché pour éclaircir un
                        sourire.</li>
                    <li><strong>Localisateur d'Apex electronique</strong></li>
                    <li><strong>Rotation continue endodontique :</strong> Pour un meilleur traitement canalaire lors des
                        dévitalisations.</li>
                    <li><strong>Digue opératoire :</strong> Pour un travail en asepsie complète.</li>
                    <li><strong>Sableuse :</strong> Permet l'augmentation des capacités d'adhésion des composites.</li>
                </ul>
            </nav>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="head-title">Traitements proposés</h2>
            <nav>
                <ul class="text">
                    <li>Soins courants : caries, détartrage, chirurgie.</li>
                    <li>Eclaircissement du sourire par les techniques de blanchiment externe avec le système de lampe
                        Zoom.</li>
                    <li>Pose d'implants dentaires en remplacement d'une ou plusieurs dents manquantes.</li>
                    <li>Gouttières d'alignement invisibles</li>
                    <li>Traitement des parodontopathies par lithotripsie et curetage sous gingival.</li>
                    <li>Technique de stabilisation des prothèses complétée par les attachements supra implantaires et le
                        système Locator&trade;</li>
                    <li>Prothèse fixe et amovible (couronnes, tout céramique, céramo-métallique, métalliques, facettes,
                        onlays, stellites, prothèses partielles adjointes résine, prothèses complètes) de fabrication
                        française par trois laboratoires de prothèse dentaire à Miremont, Toulouse et Paris.</li>
                </ul>
            </nav>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive"
                 src="assets/img/traitement.jpg"
                 alt="equipements">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive"
                 src="assets/img/cabinet1.jpg"
                 alt="Informations complémentaires">
        </div>
        <div class="col-md-7">
            <h2 class="head-title">Informations complémentaires</h2>
            <p class="text">
                Le cabinet est équipé d'un lecteur de carte bleue.
                <br>
                Nous ne pratiquons pas le tiers payant.
                <br>
                L'accès aux personnes handicapées est facilité.
                <br>
                Nous appliquons le 100% santé (reste à charge zéro euro) pour les soins et les prothèses comme les
                couronnes céramiques jusqu'aux deuxièmes prémolaires, métalliques sur les molaires et pour les appareils
                amovibles en résine, quelque soit le nombre de dents à remplacer.
            </p>
        </div>
    </div>

    <hr class="featurette-divider">

</div>