<div class="container marketing">
    <div class="row featurette">
        <div class="col-md">
            <h2 class="featurette-heading">Cone Beam</h2>
            <p class="text">
                "Cone Beam" ou "CBCT" ou "Tomographie Volumétrique Numérisée à Faisceau Conique" auparavant nommé
                Scanner Buccal.
            </p>

            <mat-divider></mat-divider>

            <h2 class="featurette-heading">A quoi sert un Cone Beam ?</h2>
            <p class="text">
                C'est un outil de diagnostic incontournable aujourd'hui.<br />
                En un seul cliché, nous pouvons radiographier toute la mâchoire,de la reconstruire virtuellement en 3
                dimensions et de naviguer millimètres par millimètres dans cet espace.<br />
                Cet outil nous permet de faire le dépistage de multiples pathologies ou problèmes,d'affiner un
                diagnostique,d'expliquer des symptômes,et ainsi de faire les meilleurs choix thérapeutiques fondés sur
                du réel.<br />
                C'est l ‘examen de choix en Implantologie car il permet de visualiser les volumes osseux disponibles et
                de mettre en évidence les zones anatomiques à respecter comme les nerfs ou les artères.
            </p>

            <mat-divider></mat-divider>

            <h2 class="featurette-heading">Avantages du Cone Beam</h2>
            <nav>
                <ul class="text">
                    <li>Précision extrême, de l'ordre du dixième de millimètre.</li>
                    <li>Résultats instantanés : directement visualisable sur l'écran du praticien.</li>
                    <li>Gain de temps : toutes les étapes du projet sont réalisables au sein de notre cabinet, évitant
                        la prise de rendez-vous dans un centre de radiologie (la clinique d'Occitane de Muret étant le
                        Cone Beam le plus proche).</li>
                    <li>Irradiation par les rayons X douze fois moins qu'un scanner classique.</li>
                    <li>Rassurant pour les patients claustrophobes, cet examen se faisant debout ou assis, comme une
                        radio panoramique classique.</li>
                </ul>
            </nav>
            <p class="text">Notre machine Cone Beam est un modele Carestream CS8100 3D de dernière génération.</p>
            <div class="video">
                <iframe width="560"
                        height="315"
                        src="https://www.youtube.com/embed/gN9FkvsXfOo?rel=0"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>