<mat-toolbar>
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <button mat-button>Accueil</button>

    <button mat-button [matMenuTriggerFor]="cabinetMenu">Le Cabinet</button>
    <mat-menu #cabinetMenu="matMenu" yPosition="below">
      <button mat-menu-item>A propos</button>
      <button mat-menu-item>L'équipe</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="prestationsMenu">Nos prestations</button>
    <mat-menu #prestationsMenu="matMenu" yPosition="below">
      <button mat-menu-item>Implants</button>
      <button mat-menu-item>Smiler's l'orthodontie invisible</button>
      <button mat-menu-item>Blanchiment dentaire</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="diversMenu">Divers</button>
    <mat-menu #diversMenu="matMenu" yPosition="below">
      <button mat-menu-item>Charte qualité</button>
      <button mat-menu-item>Fiches conseil</button>
      <button mat-menu-item>Cone Beam</button>
    </mat-menu>

    <button mat-button>Plan d'accès</button>

    <button mat-button>Galerie</button>
    
    <div class="spacer"></div>

    <button mat-button>Prendre rendez-vous</button>
  </div>
</mat-toolbar>
<app-headband></app-headband>